p{
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
h1{
    margin : 15px;
    text-shadow:   -1px -1px 0 #751C1C,  
    1px -1px 0 #751C1C,
    -1px 1px 0 #751C1C,
     1px 1px 0 #751C1C,
     1px 1px 10px #141414;color:#DE3535;
    text-align: center;
    font-size: 50px;
    background-image: url(../img/pellicule.jpg);
    background-position: center;
    vertical-align:text-top;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}
.button{
    display: inline-block;
    background-color: #73141B;
    border-radius: 10px;
    border: 1px double #cccccc;
    color: #E1D6BA;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
    margin: 40px;

}
.button:hover{
    box-shadow: #73141B 0px 0px 40px 0px;
    scale: 1.25;
    background-color: #742a2f;
    border-radius: 30px;
}

.img-moovie{
    scale: 1.25;
}

/*footer{
    color: white;
    text-decoration-color: white;
    display: flex;
    justify-content: center;

    position: relative;
}*/

#txtfoot{
    font-size: 16px;
}

