body{
    background-color: #D5D5D5;
}
#input1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    width: 15%;
    text-decoration: none;
    background-color: #e2e0e0;
    margin: 20px;
    border-radius: 2px;
}

#input2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    width: 15%;
    text-decoration: none;
    background-color: #e2e0e0;
    margin: 20px;
    border-radius: 2px;
}

input{
    border: none;
    background-color: #e2e0e0;
    height: 23px
}

input:focus {
    outline:  none;
}

.icon{
    padding-top: 5px;
}

#searchbutton{
    height: 27px;
    width: 50px;
    background-color: #e2e0e0;
    border: none;
    margin: 20px;
    border-radius: 2px;
    cursor: pointer;
}

#recherche{
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

td {
    border: 1px solid #333;
    padding: 50px;
}


#table{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid black
}
