body{
    background-color: #D5D5D5;
}
#input1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    width: 17.5%;
    text-decoration: none;
    background-color: #e2e0e0;
    margin: 20px;
    border-radius: 0px 15px 15px 0px;
}
#real:invalid{
    color: red;
    visibility: visible;
}

#time:invalid{
    color: red;
    visibility: visible;
}

#real:valid{
    cursor: pointer;
}

#time:valid{
    cursor: pointer;
}

#input2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    width: 17.5%;
    text-decoration: none;
    background-color: #e2e0e0;
    margin: 20px;
    border-radius: 0px 15px 15px 0px;
}

input{
    border: none;
    background-color: #e2e0e0;
    height: 23px
}

input:focus {
    outline:  none;
}

.icon{
    padding-top: 5px;
}

#butTime{
    height: 27px;
    align-self: right;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

#recherche{
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
}

#butName{
    height: 27px;
    align-self: right;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

.send{
    width: 27px;
    height: auto;
    background-color: #e2e0e0;
    border-radius: 0px 15px 15px 0px ;
}

#moviesFlex {
    display: flex;  
    flex-wrap: wrap;
    row-gap: 2em;
}

#moviesFlexElement {
    align-items: center;
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
}

#movie {
    padding: 10px;
    background-color: white;
}

#titre {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 10px;
}

#realisateur {
    font-size: 32px;
}

#butRealisateur{
    height: 27px;
    align-self: right;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

#titre,
#realisateur,
#duree,
#genre {
    text-align: center;

}