*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}
header{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #73141B;
  padding-left: 38%;
}
li{
  list-style-type: none;
  padding: 15px;
  border: solid;
  border-radius: 10px;
  margin: 10px;
  margin-right: 60px;
}
a{
  text-decoration: none;
  color : #E1D6BA;
}
a:hover{
  color: #E1D6BA;
  scale: 1.25;
}
.img{
  scale : 0.5;
}
body{
  background-color: #D5D5D5;
}